{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receipt</title>
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.output.css'%}" />
    <link rel="stylesheet" href="{% static 'assets/css/the_tailwind.css'%}" />
</head>
<body class="bg-gray-300">
    
    <div class="mx-auto my-4 bg-white p-4 rounded-md" style="width: 80%;">
        <img src="https://eduportal.aaua.edu.ng/appassets/assetsindex/img/aauahy.png">
    </div>
</body>
</html>